.probe
.vscode
kubejs/config/web_server.json
kubejs/config/probe-settings.json
kubejs/README.txt
kubejs/*/jsconfig.jsonc
patchouli_data.json
icon.png
mods
shaderpacks
_IAS_ACCOUNTS_DO_NOT_SEND_TO_ANYONE
logs
defaultconfigs
local
resourcepacks
CustomSkinLoader
.mixin.out
downloads
dynamic-resource-pack-cache
fancymenu_data

config/resourceful-config-web.json
config/sodium-fingerprint.json
config/brandon3055/contributors.json
config/brandon3055/contributors.json.etag
config/fancymenu/user_variables.db
config/forgeendertech/cached.dat
config/greedycraft/version.json
config/spark/tmp