.probe
.vscode
kubejs/config/web_server.json
kubejs/config/probe-settings.json
kubejs/README.txt
kubejs/*/jsconfig.json
patchouli_data.json
icon.png
command_history.txt
usercache.json
usernamecache.json
*STOP_MOD_REPOSTS.txt
powerscale-server*.toml.bak

mods
shaderpacks
_IAS_ACCOUNTS_DO_NOT_SEND_TO_ANYONE
logs
defaultconfigs
local
resourcepacks
CustomSkinLoader
.mixin.out
downloads
dynamic-resource-pack-cache
fancymenu_data
saves
xaero
XaeroWaypoints*

config/resourceful-config-web.json
config/sodium-fingerprint.json
config/brandon3055/contributors.json
config/brandon3055/contributors.json.etag
config/fancymenu/user_variables.db
config/forgeendertech/cached.dat
config/greedycraft/version.json
config/spark/tmp
config/jei/recipe-category-sort-order.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/ProjectE/pregenerated_emc.json
config/spark/tmp-client
config/chancecubes/custom_rewards/CustomSounds-Resourcepack.zip
config/openloader/packs/resources/DarkMode-ResourcePack-1.20.3_1.zip

backups

!mods/botania*.jar
!mods/Zeta*.jar
!mods/Quark*.jar
!mods/IAS*.jar